<ion-view view-title="Categories">
	<ion-content>
		<ion-list>
			<ion-item class="item-icon-right" ui-sref="app.posts({category: 'events'})">
				Events
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
