<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-balanced" ng-class="{'bar-transparent': secColor == 'transparent'}">
			<ion-nav-back-button></ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear" menu-toggle="left">
					<i class="icon icon-menu"></i>
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-content scroll="false">
			<img class="logo" src="img/logo.svg">
			<div class="main-menu">
				<a nav-clear menu-close ui-sref="app.posts" ui-sref-active="active">
					<i class="icon icon-menu-updates"></i>
					Updates
				</a>
				<!--<a nav-clear menu-close ui-sref="app.categories" ui-sref-active="active">
					<i class="icon icon-menu-categories"></i>
					Categories
				</a>-->
				<!--<a nav-clear menu-close ui-sref="app.page({slug: 'app-photo-gallery'})" ui-sref-active="active">
					<i class="icon icon-menu-gallery"></i>
					Gallery
				</a>-->
				<a nav-clear menu-close ui-sref="app.page({slug: 'app-about-us'})" ui-sref-active="active">
					<i class="icon icon-menu-about"></i>
					About us
				</a>
				<a nav-clear menu-close ui-sref="app.programs" ui-sref-active="active">
					<i class="icon icon-menu-programs"></i>
					Programs
				</a>
				<!--a nav-clear menu-close ui-sref="app.test" ui-sref-active="active">
					<i class="icon icon-menu-settings"></i>
					Test
				</a-->
				<!-- <a nav-clear menu-close ui-sref="app.settings" ui-sref-active="active">
					<i class="icon ion-menu-settings"></i>
					Settings
				</a> -->
			</div>
			<a class="button button-outline button-block button-balanced" menu-close ui-sref="app.page({slug: 'app-support-us'})">Support us!</a>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
