<ion-view>
	<ion-nav-title><span ng-bind-html="page.title.rendered | pageTitle | trustedhtml"></span></ion-nav-title>

	<ion-content>
		<ion-refresher on-refresh="doRefresh()" pulling-icon="icon-refresh"></ion-refresher>
		<div class="page-content body" ng-bind-html="content | html_filters" ng-if="content"></div>
	</ion-content>
</ion-view>
