<ion-view class="post-single no-header">
	<ion-nav-title></ion-nav-title>

	<ion-nav-buttons side="secondary">
		<button class="button button-clear" ng-click="sharePost()">
			<i class="icon icon-share"></i>
		</button>
	</ion-nav-buttons>

	<div id="header-backdrop"><div></div></div>

	<ion-content on-scroll="gotScrolled()">
		<ion-refresher on-refresh="doRefresh()" pulling-icon="icon-refresh"></ion-refresher>
		<div id="featured_image_graphic" class="graphic" ng-if="post.featured_image_thumbnail_url">
			<img ng-src="{{post.featured_image_thumbnail_url}}">
		</div>
		<div class="text" ng-if="content">
			<div class="category" ng-if="post.category_slug">
				<i class="icon" ng-class="'icon-category-' + post.category_slug"></i>
			</div>
			<h1 ng-bind-html="post.title.rendered"></h1>
			<p class="meta">
				<span class="author" ng-bind-html="post.author_name"></span>
				•
				<span class="date" ng-bind-html="post.date_formatted"></span>
			</p>
			<div class="body" ng-bind-html="content | html_filters"></div>
		</div>

		<!--div class="item item-divider">Comments</div>
			<ion-list ng-if="comments">
				<ion-item ng-repeat="comment in comments">
					<div class="item-body">
						<h3 ng-bind-html="comment.author_name"></h3>
						<p ng-bind-html="comment.content.rendered"></p>
					</div>
				</ion-item>
			</ion-list-->
	</ion-content>
</ion-view>
