<ion-view class="view-posts" view-title="Posts">
	<ion-nav-title>
    	<img class="header-logo" src="img/logo.svg">
    </ion-nav-title>
	<ion-content>
		<ion-refresher on-refresh="doRefresh()" pulling-icon="icon-refresh"></ion-refresher>
		<div class="post-list">
			<a class="post" class="item-thumbnail-left" ng-repeat="post in posts track by $index" href="#/app/posts/{{post.id}}" track>
				<div class="graphic" ng-if="post.featured_image_thumbnail_url" ng-style="{'background-image': 'url({{post.featured_image_thumbnail_url}})'}"></div>
				<div class="category" ng-if="post.category_slug">
					<i class="icon" ng-class="'icon-category-' + post.category_slug"></i>
				</div>
				<div class="text">
					<h1 ng-bind-html="post.title.rendered"></h1>
					<p class="excerpt" ng-if="post.excerpt_truncated" ng-bind-html="post.excerpt_truncated"></p>
				</div>
			</a>
			<div class="error" ng-if="weHaveUpdates == false">No updates loaded. Please try again later…</div>
		</div>

		<ion-infinite-scroll ng-if="moreDataExists()" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>

	</ion-content>
</ion-view>
