<ion-view>
	<ion-nav-title>Programs</ion-nav-title>
	<ion-content>
		<ion-list>
			<ion-item class="item-icon-right" ui-sref="app.page({slug: 'app-xenarthra-program'})">
				Xenarthra program
				<i class="icon icon-forward"></i>
			</ion-item>
			<ion-item class="item-icon-right" ui-sref="app.page({slug: 'app-dolphin-program'})">
				Dolphin program
				<i class="icon icon-forward"></i>
			</ion-item>
			<ion-item class="item-icon-right" ui-sref="app.page({slug: 'app-education-information'})">
				Education & information
				<i class="icon icon-forward"></i>
			</ion-item>
			<ion-item class="item-icon-right" ui-sref="app.page({slug: 'app-research-sustainable-use'})">
				Research & sustainable use
				<i class="icon icon-forward"></i>
			</ion-item>
			<ion-item class="item-icon-right" ui-sref="app.page({slug: 'app-culture-communities'})">
				Culture & communities
				<i class="icon icon-forward"></i>
			</ion-item>
			<ion-item class="item-icon-right" ui-sref="app.page({slug: 'app-environmental-impact-monitoring'})">
				Environmental impact monitoring
				<i class="icon icon-forward"></i>
			</ion-item>
			<ion-item class="item-icon-right" ui-sref="app.page({slug: 'app-institutional-development'})">
				Institutional development
				<i class="icon icon-forward"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
