<ion-view view-title="Settings">
	<ion-content>

	<ul class="list">

		<li class="item item-toggle">
			 Setting 1
			 <label class="toggle toggle-assertive">
				 <input type="checkbox">
				 <div class="track">
					 <div class="handle"></div>
				 </div>
			 </label>
		</li>

		<li class="item item-toggle">
			 Setting 2
			 <label class="toggle toggle-assertive">
				 <input type="checkbox">
				 <div class="track">
					 <div class="handle"></div>
				 </div>
			 </label>
		</li>

		<div class="item item-divider">
					Notifications
				</div>

				<li class="item item-checkbox">
			 <label class="checkbox">
				 <input type="checkbox" checked="checked">
			 </label>
			 Account info
		</li>

		<li class="item item-checkbox">
			 <label class="checkbox">
				 <input type="checkbox">
			 </label>
			 Newsletter
		</li>

		<div class="item item-divider">
					Brightness
				</div>

		<li class="item range range-positive">
			<i class="icon ion-ios7-sunny-outline"></i>
			<input type="range" name="volume" min="0" max="100" value="33">
			<i class="icon ion-ios7-sunny"></i>
		</li>

	</ul>

	</ion-content>
</ion-view>
