<ion-view view-title="Test">
	<ion-content class="padding">
		<a class="button button-block button-balanced button-outline" ng-click="getPosts()">GET Posts</a>
		<a class="button button-block button-balanced button-outline" ng-click="getPages()">GET Pages</a>
		<a class="button button-block button-balanced button-outline" ng-click="getPost()">GET 1 Post</a>

		<div id="results"></div>
	</ion-content>
</ion-view>
