@font-face
	font-family "<%= fontName %>"
	src url('<%= fontPath %><%= fontName %>.ttf') format('truetype')
	font-weight normal
	font-style normal

.icon:before
	font-family icons
	font-weight normal
	font-style normal
	display inline-block
	-webkit-font-smoothing antialiased

<% _.each(glyphs, function(glyph) { %>.<%= className %>-<%= glyph.name %>:before { content: "\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>" }
<% }); %>