@font-face
	font-family "icons"
	src url('../fonts/icons.ttf') format('truetype')
	font-weight normal
	font-style normal

.icon:before
	font-family icons
	font-weight normal
	font-style normal
	display inline-block
	-webkit-font-smoothing antialiased

.icon-facebook:before { content: "\EA01" }
.icon-twitter:before { content: "\EA02" }
.icon-menu-updates:before { content: "\EA03" }
.icon-menu-about:before { content: "\EA04" }
.icon-menu-programs:before { content: "\EA05" }
.icon-share:before { content: "\EA06" }
.icon-forward:before { content: "\EA07" }
.icon-menu:before { content: "\EA08" }
.icon-back:before { content: "\EA09" }
.icon-sloth:before { content: "\EA0A" }
.icon-refresh:before { content: "\EA0B" }
.icon-shop:before { content: "\EA0C" }
.icon-bank:before { content: "\EA0D" }
.icon-globalgiving:before { content: "\EA0E" }
.icon-paypal:before { content: "\EA0F" }
.icon-category-news:before { content: "\EA10" }
.icon-category-events:before { content: "\EA11" }
.icon-category-journal:before { content: "\EA12" }