// COLORS & SHIT
// ----------------------------------------------------

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #58CF90 !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;


$base-color: inherit !default;


$button-border-radius: 99px !default;
$popup-button-border-radius: 99px !default;

$popup-border-radius: 10px !default;


// FONTS
// ----------------------------------------------------

$font-size-base: 16px;
$font-family-sans-serif: oxygen, sans-serif !default;
$font-family-light-sans-serif: oxygen, sans-serif !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;


// LET THE BEAST GO
// ----------------------------------------------------

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";