// CONFIG
// ----------------------------------------------------

$clr-main = #58CF90
$clr-text = #4C5562
$clr-bg = #1D2229
$clr-lightgray = #E5E8EC

$statusbar-height = 20px

@import "_core"
@import "_icons"


// HELPER FUNCTIONS
// ----------------------------------------------------

black(opacity)
	rgba(0,0,0,opacity)

white(opacity)
	rgba(255,255,255,opacity)

em(px, context = 16)
	round((px / context) * 1em, 4)

ellips()
	overflow hidden
	white-space nowrap
	text-overflow ellipsis



// FONTS
// ----------------------------------------------------

@font-face
	font-family "oxygen"
	src url('../fonts/Oxygen-Regular.ttf') format('truetype')
	font-weight 400

@font-face
	font-family "oxygen"
	src url('../fonts/Oxygen-Bold.ttf') format('truetype')
	font-weight 600

@font-face
	font-family "oxygen"
	src url('../fonts/Oxygen-Light.ttf') format('truetype')
	font-weight 300


// BASICS
// ----------------------------------------------------

body
	line-height 1
	color $clr-text

a
	color $clr-main
	text-decoration none

h1
h2
h3
	line-height 1.3

h1
	font-size em(24)

h2
	font-size em(24)
	font-weight 300
	margin 0 0 .6em

h3
	font-size em(21)
	margin 0 0 .2em

p
	line-height 1.4
	margin 0 0 1em

.dimmed
	color rgba($clr-text, .6)


// STATUSBAR
// ----------------------------------------------------

body.platform-ios
	// StatusBar transparancy vs. Ionic
	&.in-webview,
	&.platform-browser

		// Shift content of ion-content (sans header) down
		// Shift header-bar (navbar) down
		ion-content.has-statusbar
		.bar-header
			top $statusbar-height

		// Shift top of ion-content (with header) down
		ion-content.has-header
			top unit(44 + $statusbar-height, 'px')

		// Insert a colored red box at the top for
		// - modals
		// - the normal content
		// That way the content does not bleed into the header
		ion-side-menu-content::before,
		ion-modal-view::before,
		.inject-statusbar::before
			content ''
			height $statusbar-height
			position absolute
			top 0
			width 100%
			background $clr-main
			display block
			z-index 20
			transition background .3s ease


		// No header special case
		.no-header
			ion-content.has-header
				top 0

	// Transparent headers, oooooh
	&.transparent-header
		ion-side-menu-content::before
			background transparent

		ion-header-bar
			background transparent !important

	// Add a fake statusbar when viewing in the browser
	&.platform-browser::before
		content ''
		display block
		position absolute
		height $statusbar-height
		width 100%
		background url(../img/ios-statusbar-fake.png)
		background-size 100% 100%
		z-index 11


ion-header-bar
	background-image none !important
	transition background .3s ease


// MENU
// ----------------------------------------------------

ion-side-menu.menu
	background $clr-bg
	color #fff

	.logo
		height 1.2em
		margin em(32) 0 em(12) em(25)

		.platform-android &
			margin-top 1.4em

	.button
		font-size em(21)
		margin 1em em(24, 21) 0

.main-menu
	a
		display block
		font-size em(21)
		border-left 4px solid transparent
		padding 1em 1em
		color white(.5)

		&.active
			color #fff
			border-left-color $clr-main

	.icon
		margin 0 .3em 0 0



// COMMON
// ----------------------------------------------------

.list
	.item-icon-right .icon
		right 5px


// POSTS
// ----------------------------------------------------

.view-posts
	background $clr-bg

.header-logo
	height 1.2em
	vertical-align -.2em

.category
	position absolute
	top 0
	right 0
	border-top 60px solid rgba($clr-bg, .8)
	border-left 60px solid transparent

	.icon
		position absolute
		right 0
		top 6px - 60px
		font-size 32px
		color #fff


.post-list
	//padding 3px 0 0

	.post
		display block
		margin 0 0 3px
		position relative
		padding-top 66.66666%

	.graphic
		position absolute
		top 0
		width 100%
		height 100%
		background-size cover
		background-position center

	.text
		position absolute
		bottom 0
		left 0
		right 0
		background linear-gradient(to bottom, rgba($clr-bg, 0), rgba($clr-bg, .7) 70px)
		padding 1.5em 1em .2em
		color #fff

	h1
		line-height 1.15
		padding 0 0 .1em
		margin 0 0 .1em
		display -webkit-box
		-webkit-line-clamp 3
		-webkit-box-orient vertical
		overflow hidden

	.excerpt
		font-size em(13)

	.error
		text-align center
		padding 3em 1em 0
		color white(.5)

/* SINGLE POST */

.platform-ios #header-backdrop
	position absolute
	z-index 10
	pointer-events none
	width 100%
	height unit(44 + $statusbar-height, 'px')
	background linear-gradient(to bottom, rgba($clr-bg, .6), rgba($clr-bg, 0) 60px)

	div
		content ""
		position absolute
		width 100%
		height 100%
		background $clr-main
		opacity 0


.post-single
	//background linear-gradient(to bottom, $clr-bg 50%, #fff 50%)

	.graphic
		img
			width 100%
			display block

	.text
		padding 1em
		background #fff
		position relative

	.category
		border-top-color $clr-main

	h1
		font-weight 300
		color $clr-main
		margin 0 1.2em .8em 0

	.meta
		font-weight 600
		text-transform uppercase
		font-size em(12)

.body
	img
		width calc(100% + 2em)
		height auto
		margin 0 -1em
		display block
		background-color $clr-lightgray

	.wp-caption
		margin 0
		max-width 100%

	.wp-caption-text
		margin .5em 0 1.5em



/* PAGES */
.page-content
	padding 0 1em 1em

	.card
		margin 0 0 1em
		box-shadow 0 1px 0 $clr-lightgray
		border-radius 0 0 5px 5px

		:first-child
			border-radius 5px 5px 0 0

	.item
		margin 0 -1em -1px

	.card
		.item
			box-shadow inset -1px 0 0 $clr-lightgray, inset 1px 0 0 $clr-lightgray
			border 0
			padding 1em
			margin 0
			line-height 1.4

			p
				font-size em(14)
				color inherit
				margin 0 0 1em

		.item-divider
			background linear-gradient(to left, $clr-main, #57cbe1)
			color #fff
			box-shadow none
			padding .5em 1em

	li
		font-size em(14)
		margin 0 0 .5em

		&:before
			content "❯"
			font-size em(12)
			color black(.3)
			margin 0 .5em 0 0
			vertical-align .08em

	figure
		margin 0 0 2em

	figcaption
		padding 1em 0 0
		font-size em(14)



// POPUPS
// ----------------------------------------------------

.popup-head
	border 0
	padding-bottom 0

.popup-title
	font-size em(16)
	font-weight bold

.popup-body
	padding .3em em(16,14) 1em
	font-size em(14)
	line-height 1.3
	text-align center

.popup-buttons
	padding 0
	border-top 1px solid black(.1)
	min-height 0

	.button
		min-height 50px



// IMAGE GALLERY
// ----------------------------------------------------
/*
.gallery-view
	.row
		padding 0

	.image-container
		position relative
		overflow hidden
		border-right 1px solid #fff

		&:nth-child(3n)
			border 0

		img
			position absolute
			top -9999px
			bottom -9999px
			left -9999px
			right -9999px
			margin auto

.imageView
	background $clr-bg

	.has-no-header
		top 0px !important

	.close-btn
		border 1px solid
		position absolute
		right 5px
		border-radius 5px

	.headerView
		background-image none
		background-color black

	.gallery-slide-view
		width 100%

	.image-subtitle
		color white
		position absolute
		bottom 0px
		left 10px
		width 95%
		height 15%
		z-index 100

	.listContainer
		width 100%
		height 100%

	.hideAll
		display none

	img
		display block
		width 100%
		height auto

	.scroll-view
		position absolute
		width 100%
		height 100%

		.scroll
			min-height 100%
			display flex
			justify-content center
			align-content stretch
			align-items center
*/